body {
    background-color: #416f6f;
}

text {
    font-family: 'Oxygen', sans-serif;
}
.maincontent {
    background-color: white;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.header {
    background-color: darkslategray;
    text-align: center;
    padding: 50px;
    border-radius: 10px;    
}

.header h3 {
    font-size: 40px;
    color: white;
    font-family: 'Oxygen', sans-serif;
    margin-top: -20px;
    text-transform: uppercase;
}
.header p {
    font-size: 20px;
    color: white;
    font-family: 'Oxygen', sans-serif;
}
#headerimg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
}

.vis_div {
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: darkslategrey 2px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.vis {
    width: 700px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    /*background-color: #d6d8d8;*/
}
.vis svg{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.vis_title {
    font-size: 30px;
    color: black;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
}

.vis_text {
    font-size: 17px;
    color: black;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
}


.legendTitle {
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.axis {
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
}

.bar {
    fill: #7b6888;
}

.axisLegend {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
}

.clickInfo {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    fill: rgb(87, 87, 87);
}

.btnView {
    fill: #dddddd;
    stroke: #cccccc;
}
.btnView:hover {
    opacity: 0.5;
}
.selectedView {
    fill: #f6a828;
    stroke: #e78f08;
    
}
.tooltip {	
    position: absolute;
    z-index: 10;
    background-color: black;
    opacity: 0.8;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Oxygen', sans-serif;    
    font-size: 17px;
}
.btwViewText {
    fill: black;
    font-size: 20px;
    font-weight: bold;
    pointer-events: none;
    font-family: 'Oxygen', sans-serif;    
}

#slider-range-year-top {
    float: left;
    width: 568px;
    margin: 6px 20px;
}

#topGames {
    margin-bottom: 70px;
}

#yearEnd {
    float: right;
    font-family: 'Oxygen', sans-serif;  
    font-size: 20px;
    margin: 0px;  
}

#yearStart {
    float: left;
    font-family: 'Oxygen', sans-serif;  
    font-size: 20px;
    margin: 0px;  
}