

.linha {
    stroke-width: 3;
    fill: none;
}

.topLabel {
    display: block;
    text-align: center;
}

.hide {
    visibility: hidden;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: lightgrey;
}

.x.axis .minor {
    stroke-opacity: .5;
}


.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

.x.axis path {
    display: none;
}

.divtop{
    display: table-cell;
    vertical-align: middle;
    margin-left: 140px;
    width: 100%;
    text-align: center;
}
.topdiv {
    background-color: white;
    overflow: auto;
    width: 250px;
    display: table;
    position: relative;
    z-index: 5;
    opacity: 0.8;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Oxygen', sans-serif;
    font-size: 17px;
}

.labelTop {
    margin: 0;
}
